/*
.bj-cree-regular {
  font-family: "BJ Cree", serif;
  font-weight: 400;
  font-style: normal;
}

.bj-cree-medium {
  font-family: "BJ Cree", serif;
  font-weight: 500;
  font-style: normal;
}

.bj-cree-semibold {
  font-family: "BJ Cree", serif;
  font-weight: 600;
  font-style: normal;
}

.bj-cree-bold {
  font-family: "BJ Cree", serif;
  font-weight: 700;
  font-style: normal;
}
*/
/*
.roboto-slab-<uniquifier> {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

* {
    --black: #020202;
    --deep-space-blue: #0d324d;
    --dusty-lavender: #7f5a83;
    --dusty-mauve: #a188a6;
    --accentColor: rgb(63, 144, 172);
    --cardColor: rgba(255, 255, 255, 0.06);
    --borderColor: rgba(255, 255, 255, 0.2);
    color: rgb(63, 144, 172);
    font-family: "Roboto Slab", serif;
}

body {
    background-color: #0d324dff;
    background-image:url('assets/armor.png');
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
}

header{
  background-color: var(--cardColor);
}
header > span {
  padding-top: 60px;
  padding-bottom: 16px;
  margin-bottom: 32px;
  font-family: "Roboto Slab", monospace;
  color: var(--accentColor);
  font-size: 32px;
  font-weight: 700;
  opacity: .82;

}

header::first-letter{
  font-size: 48px;
}

.title{
  font-family: "BJ Cree", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 72px;
  margin-bottom: 32px;
  line-height: 84px;
}

.title::first-letter{
  color: var(--accentColor);
}

h2{
  font-family: "BJ Cree", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: white;
  text-shadow: 3px 2px 0px var(--accentColor);
}

.cards div {
  background: var(--cardColor);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 16px;
  border: 1px solid var(--borderColor);
  border-radius: 8px;
  width: 75%;
  margin: 0 auto 24px auto;
  transition: all 0.25s ease;
}

.cards div:hover {
  transform: translate(-3px, -3px);
  box-shadow: 8px 8px 0px var(--accentColor);
}

.cards div > img{
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, .4);
}

h3{
  font-family: "Roboto Slab";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 126.637%;
  letter-spacing: 3.52px;
  text-transform: uppercase;
}

.education > ul {
  background: var(--cardColor);
  backdrop-filter: blur(8px);
  border: 1px solid var(--borderColor);
  padding: 16px;
  font-size: 24px;
  width: 75%;
  margin: auto;
  list-style-image: url('assets/arrows_output_16dp_E3E3E3_FILL0_wght400_GRAD0_opsz20.svg');
}

.education > ul li{
  padding: 16px;
}

.year {
  color: var(--accentColor);
}