* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #070f24;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    width: 360px;
    background: #061232;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 255, 100, 0.15);
}

.hidden {
    display: none;
}

.task-input {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

#taskInput {
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    border: none;
    outline: none;
}

#taskInput:focus {
    box-shadow: 0 0 10px #00ff88;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    background: #00c96b;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #00ff88;
}

button:disabled {
    background: #444;
    cursor: not-allowed;
}

#taskPreviewList {
    list-style: none;
    text-align: left;
    margin-top: 10px;
}

#taskPreviewList li {
    background: #071131;
    padding: 6px;
    margin-bottom: 6px;
    border-radius: 6px;
}

#taskContainer {
    text-align: left;
    margin: 15px 0;
}

.task-item {
    background: #071130;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mini-bar {
    width: 0%;
    height: 6px;
    background: #444;
    border-radius: 3px;
    margin-left: auto;
    transition: 0.3s;
}

.progress-bar-bg {
    width: 100%;
    height: 20px;
    background: #444;
    border-radius: 10px;
    overflow: hidden;
}

#mainProgressBar {
    height: 100%;
    width: 0%;
    background: #00ff88;
    transition: width 0.3s;
}

#progressText {
    margin-top: 5px;
}

.error {
    color: #ff4d4d;
    margin-top: 10px;
}


#completeScreen {
    font-size: 1.5rem;
}